/* **Corpo** */
body {
  background-color: #a9c5e98f;
}

main {
  width: 450px;
  margin: 0 auto;
}

/* **Formulario** */

fieldset {
  width: 432px;
  box-shadow: 0 10px 40px #00000056;
  background-color: #58a5e7e0;
  border-radius: 20px;
}

.form-nome {
  display: flex;
  flex-direction: row;
}

#nome,
#sobrenome {
  margin-top: 15px;
  width: 195px;
  padding: 5px;
  border-radius: 4px;
  border: none;
}

input {
  color: #fff;
}

input::placeholder {
  color: #274a7e;
}

#sobrenome {
  margin-left: 20px;
}

.email,
.senha {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#email,
#senha {
  border-radius: 4px;
  padding: 5px;
  border: none;
}

/* **Data de nascimento** */

select {
  border-radius: 4px;
  padding: 5px;
  color: #274a7e;
  cursor: pointer;
  border: none;
}
#aluno-prof {
  display: flex;
}

#dias,
#mes,
#year {
  width: 125px;
  margin: 0 6px;
}

/* **Gênero** */
.div-masculino,
.div-feminino {
  display: inline-block;
  width: 105px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 3px;
  margin: 10px 5px;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.layout-genero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* **Layout Select** */
.layout-aluno-prof {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

label {
  color: #274a7e;
}

/* **Button** */
button {
  border-radius: 4px;
  margin: 10px 0;
  padding: 5px;
  background-color: #247bd5e0;
  padding: 10px;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  scale: 1.1;
  transition: all 0.3s;
}

.botao {
  display: flex;
  justify-content: center;
}

/* **Estilização da imagem** */

/* **Texto** */
h1,
h4 {
  color: #15171a;
  font-weight: 800;
}

p {
  font-weight: 600;
}

.home ul li a{
  text-decoration: none;
  cursor: pointer;
}
.home ul li{
  list-style: none;
  font-weight: 600;
}

/* **Img** */

/* **rodapé** */
footer{
  width: 450px;
  margin: 0 auto;
}

.layout-footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}